.row {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.cell {
  display: flex;
  justify-content: center;
}
.title {
  width: 300px;
}

.group_todo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.group_priority {
  display: flex;
  align-self: center;
  gap: 10px;
}
.group_icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.category {
  display: flex;
  border: 0.8px solid #fb7431;
  border-radius: 5px;
  padding: 2px 6px;
}
