.title {
  display: flex;
  align-self: center;
  padding-bottom: 50px;
}

.container {
  //   margin: 0;
  //   display: flex;
  //   place-items: center;
  //   min-width: 320px;
  //   min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 6px;
  //border: 1px solid red;
}

.forms {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.listContainer {
  //padding-top: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4em;
}
